body {
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

.grid{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4,100px);
}

.grid > button {
  font-size: 2rem;
  border: 1px, solid Black;
  outline: none;
  background-color: skyblue;
}

.output {
  grid-column: 1 / -1 ;
  background-color: skyblue;
  display: flex;
  align-items: center;
  padding: 10px;
